*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.part1{
    background-image: url('image/assorted-color.jpg');
}
.part1, .part3, .part5, .part7{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-width: 100%;
    height:100vh;
    position: relative;
    background-attachment: fixed;
    display: flex;
}
h1{
    background:#ffffff;
    display: inline-block;
    margin: auto;
    padding: 2rem 3rem;
    text-transform: uppercase;
}
.para{
    padding: 2rem 2.5rem;
background: #ffffff;
text-justify: center;
}
.part3{
    background-image: url('image/girl-46244.jpg');
    display: flex;
}
.part5{
    background-image: url('image/images.jpg');
    display: flex;
}
.part7{
    background-image: url('image/multicolored.jpg');
}
.part4{
    background: #0c0a0a;
    color: #ffffff;
}
.part5 h1{
    background-color: #0c0a0a;
    color: #ffffff;
}